<!-- <html>
<head>
    <title>Mantenimiento</title>
</head>
<body>
    <h1>Mantenimiento</h1>
    <p>Esta es la página de mantenimiento de la aplicación de Bodega Inventario.</p>
</body>
</html>
--> 

{% extends "BodegaInventarioApp/base.html" %}
{% load static %}

{% block content %}
<div style="text-align: center;">
    <h1 style="color: white; background-color: black; padding: 10px;">Mantenimiento</h1>
    <p>Esta es la página de mantenimiento de la aplicación de Bodega Inventario.</p>

    <table style="width: 60%; margin: 0 auto; border-collapse: collapse; background-color: white;">
        <thead>
            <tr style="background-color: black; color: white;">
                <th style="padding: 10px; text-align: left;">ID</th>
                <th style="padding: 10px; text-align: left;">Título</th>
                <th style="padding: 10px; text-align: left;">Descripción</th>
                <th style="padding: 10px; text-align: left;">Fecha de Mantenimiento</th>
                <th style="padding: 10px; text-align: left;">Responsable</th>
            </tr>
        </thead>
        <tbody>
            {% for mantenimiento in mantenimientos %}
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="padding: 10px;">{{ mantenimiento.id_mantenimiento }}</td>
                <td style="padding: 10px;">{{ mantenimiento.titulo }}</td>
                <td style="padding: 10px;">{{ mantenimiento.descripcion }}</td>
                <td style="padding: 10px;">{{ mantenimiento.fecha_mante }}</td>
                <td style="padding: 10px;">{{ mantenimiento.responsable_mante }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


