<!-- <html>
<head>
    <title>Mantenimiento</title>
</head>
<body>
    <h1>Mantenimiento</h1>
    <p>Esta es la página de mantenimiento de la aplicación de Bodega Inventario.</p>
</body>
</html>
--> 

{% extends "BodegaInventarioApp/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">


    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 style="color: white; padding: 10px;">Mantenimiento</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped" style="background-color: white;">
                <thead style="background-color: white; color: black;">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Fecha de Mantenimiento</th>
                        <th>Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mantenimiento in mantenimientos %}
                    <tr style="color: black; background-color: white;">
                        <td>{{ mantenimiento.id_mantenimiento }}</td>
                        <td>{{ mantenimiento.titulo }}</td>
                        <td>{{ mantenimiento.descripcion }}</td>
                        <td>{{ mantenimiento.fecha_mante }}</td>
                        <td>{{ mantenimiento.responsable_mante }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}


